/* Formateamos el Formulario de Contactate*/
.Solucion {
    margin-right: 0;
}

.DatosTitulos {
    padding: 2rem 1rem 0 1rem;
    color: $ColorPrimario;
    font-size: 3rem;
    font-style: italic;
        }

.Datos {
    padding: 2rem 1rem 0 1rem;
    color: $ColorPrimario;
    font-size: 2rem;
    }

.FormatoContacto {
    color: $ColorPrimario;
    font-family: $TipodeLetra;
    font-size: 2rem;
}

.DatosFinal {
    padding-left: 1rem;
    color:$ColorSecundario;
    font-weight: normal;
    font-size: 1.5rem;
}

.Mapa {
    margin: 0.1rem;
    padding: 1rem; 
    display: flex;
    flex-wrap: nowrap;
    justify-self: self-start;
    width: 60%;
}

.FormatoBoton {
background-color: $ColorPrimario;
color: $ColorTerciario;
font-family: $TipodeLetra;
letter-spacing: 0.4rem;
}

.Botones {
    display: flex;
    justify-content:space-evenly;
}

.RedesSociales {
    width: 60%;
    display: flex;
    justify-content:space-evenly;
}
.NuevoForm {
    margin: 1rem;
}
.input, textarea {
    font-size: 1.8rem;
    font-variant: small-caps;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: lowercase;
    color: $ColorPrimario;
}
// Separacion de las 2 columnas cuando se juntan para Moviles
.Separa {
    margin-bottom: 6rem;
}

  