// Animacion
@keyframes inicio {
    0%   {transform: scale(0.1);}
    100% {transform: scale(1);}
  }

/* Formateamos el Texto de la Pagina Principal*/
.Textomain {
    color: $ColorPrimario;
        h1 {
        font-size:4.5rem;
        text-align: center;
        display: block;
        margin: 0 auto;
        right: 0;
        left: 0;
        animation-name: inicio;
        animation-duration: 2s;
        transition: width 0.2s;
    }
    h3 {
        font-size:2rem;
        text-align: center;
        width: 85%;
        display: block;
        margin: 0 auto;
        padding-top: 1.8rem;
        right: 0;
        left: 0;
        text-transform: uppercase;
        animation-name: inicio;
        animation-duration: 2s;
        transition: width 0.2s; 

        @media (min-width:992px){
            font-size: 4rem;
            position: relative;
            top: -30rem;
            color: white;
            transition: all 0.5s ease-out;
            }

    }
}


/* Formateamos la Foto de la Pagina Principal*/
.FotoPrincipal {
    width:100%;
    height: 20rem;
    background-image: url(../media/paginaprincipal.jpg) ;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: inicio;
    animation-duration: 2s;
    transition: width 0.2s;

    @media (min-width:576px){
        height: 35rem;
        }

    @media (min-width:768px){
        height: 40rem;
        }

    @media (min-width:992px){
        height: 50rem;
        }
            
    @media (min-width:1200px){
        height: 53rem;
        }
            

}
