/* Formateamos el Texto de la Pagina Principal*/
.Textomain {
    color: $ColorPrimario;
        h1 {
        font-size:3.5rem;
        text-align: center;
        display: block;
        margin: 0 auto;
        right: 0;
        left: 0;
    }
    h3 {
        font-size:1.5rem;
        text-align: center;
        width: 75%;
        display: block;
        margin: 0 auto;
        right: 0;
        left: 0;
        text-transform: uppercase; 
    }
}

/* Formateamos la Foto de la Pagina Principal*/
.FotoPrincipal {
    width:100%;
    height: 20rem;
    background-image: url(../media/paginaprincipal.jpg) ;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}
