.contenedorPpal {
    margin: 8rem 2rem auto 2rem;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        text-align: center;
        justify-content: center;
}

.underlay{
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top:0;
  right:0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  animation-name: animOverlay;
  animation-duration: 0.3s;
  @keyframes animOverlay{
    from{transform: scale(0);}
    to{transform:scale(1);} 
        }
}
.articulos{
  background-color: $ColorTerciario;
  color: $ColorPrimario;
  padding: 1rem;
  width: 40rem;
  height: 45rem;

      h2 {
          font-weight: bold;
      }

      p {
          font-size:1.35rem;
          font-weight: bold;
      }

        i{
          /* boton que cierra el Modal */
          font-size: 3rem;
          transition: all 0.2s ease-in-out;
          position: sticky;
          top:0;
          float: right;
          &:hover{
            transform: scale(1.1);
            cursor: pointer;
                }
    
          }
}

