/* Formateamos las listas de todas las paginas */
// .Menu {
//     display: flex;
//     flex-direction: row;
//     justify-content:space-evenly;
//     flex-wrap: wrap;
// }


a {
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: none;
}

.AnchoNavBar {
    width:50%;
}

.AltoNavbar {
    height: 8rem;
}

// .Enlace {
//     list-style: none;
//     padding: 1rem;
// }


