/* Formateamos las listas de todas las paginas */

.AnchoNavBar {
    width:50%;
}

.AltoNavbar {
    height: 8rem;
    li:hover .Submenu{
        display:block;
    }
}

.ColorLink {
            color: $ColorPrimario ;
        }

.Submenu{
            position:absolute;
            display: none;
        li{
            display: block;
            background-color: $ColorSecundario;
        }
    }

        




