.OtrosDestFormat {
    margin: auto;
    padding: 1rem 5rem;
    
    @media (min-width:768px){
        width: 90%;
        }

    @media (min-width:992px){
        width: 80%;
        }
            
    @media (min-width:1200px){
        width: 70%;
        }
}

.OtrosDestFormat2 {
    border:none;
    button {
        color: $ColorPrimario;
         font-size: 2rem;
         font-weight: bold; 
    }

    a{
        font-size: 1.85rem;
    }
  
}