.OtrosDestFormat {
    padding: 1rem 5rem;
}

.OtrosDestFormat2 {
    border:none;
    button {
        color: $ColorPrimario;
         font-size: 2rem;
         font-weight: bold; 
    }

    a{
        font-size: 1.85rem;
    }
  
}
