@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.PosPrincipal {
  margin-top: 8rem;
}

/* Formateamos los títulos de todas las paginas*/
.TituloPagina {
  color: #ac73a3;
  font-size: 4.5rem;
  text-align: center;
}

/* Formateamos el texto en General*/
h1, h2, h3, h4, h5, h6, p, a {
  text-rendering: optimizeLegibility;
  font-family: "Playfair Display", serif;
}

a {
  font-size: 2rem;
  font-weight: bolder;
}

/* Formateamos las listas de todas las paginas */
.Menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Enlace {
  list-style: none;
  padding: 1rem;
}

/* Formateamos el Texto de la Pagina Principal*/
.Textomain {
  color: #ac73a3;
}

.Textomain h1 {
  font-size: 4.5rem;
  text-align: center;
  display: block;
  margin: 0 auto;
  right: 0;
  left: 0;
}

.Textomain h3 {
  font-size: 2rem;
  text-align: center;
  width: 85%;
  display: block;
  margin: 0 auto;
  right: 0;
  left: 0;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .Textomain h3 {
    font-size: 4rem;
    position: relative;
    top: -30rem;
    color: white;
  }
}

/* Formateamos la Foto de la Pagina Principal*/
.FotoPrincipal {
  width: 100%;
  height: 20rem;
  background-image: url(../media/paginaprincipal.jpg);
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 576px) {
  .FotoPrincipal {
    height: 35rem;
  }
}

@media (min-width: 768px) {
  .FotoPrincipal {
    height: 40rem;
  }
}

@media (min-width: 992px) {
  .FotoPrincipal {
    height: 50rem;
  }
}

@media (min-width: 1200px) {
  .FotoPrincipal {
    height: 53rem;
  }
}

.Actividades {
  margin: auto;
  padding-bottom: 3rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 856px) {
  .Actividades {
    width: 90%;
  }
}

@media (min-width: 992px) {
  .Actividades {
    width: 85%;
  }
}

@media (min-width: 1200px) {
  .Actividades {
    width: 65%;
  }
}

/* Formateamos el Formulario de Contactate*/
.Datos {
  padding: 2rem 1rem 0 1rem;
  color: #ac73a3;
  font-size: 2rem;
}

.FormatoContacto {
  color: #ac73a3;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}

.DatosFinal {
  padding-left: 1rem;
  color: rgba(0, 0, 0, 0.55);
  font-weight: normal;
  font-size: 1.5rem;
}

.Mapa {
  margin: 0.1rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  justify-self: self-start;
  width: 60%;
}

.FormatoBoton {
  background-color: #ac73a3;
  color: white;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.4rem;
}

.Botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.RedesSociales {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.NuevoForm {
  margin: 1rem;
}

.input, textarea {
  font-size: 1.8rem;
  font-variant: small-caps;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: lowercase;
  color: #ac73a3;
}

.Separa {
  margin-bottom: 6rem;
}

/* Formateamos el Cuerpo de la Pagina Habitaciones*/
.Habitaciones {
  width: 90%;
  margin: 1rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.FotoHab {
  width: 100%;
}

.Habtext {
  background-color: whitesmoke;
  margin: 1rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.55);
  -webkit-transform: translateY(-3rem);
          transform: translateY(-3rem);
}

.Habtext a {
  color: #ac73a3;
}

.TipoDeHab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Playfair Display", serif;
  margin: 1rem;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.TipoDeHab:hover {
  -webkit-transform: scale(1.07, 1.07);
          transform: scale(1.07, 1.07);
}

.TipoDeHab:hover .Habtext {
  background-color: white;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.OtrosDestFormat {
  margin: auto;
  padding: 1rem 5rem;
}

@media (min-width: 768px) {
  .OtrosDestFormat {
    width: 90%;
  }
}

@media (min-width: 992px) {
  .OtrosDestFormat {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .OtrosDestFormat {
    width: 70%;
  }
}

.OtrosDestFormat2 {
  border: none;
}

.OtrosDestFormat2 button {
  color: #ac73a3;
  font-size: 2rem;
  font-weight: bold;
}

.OtrosDestFormat2 a {
  font-size: 1.85rem;
}

/* Formateamos las listas de todas las paginas */
.AnchoNavBar {
  width: 50%;
}

.AltoNavbar {
  height: 8rem;
}

.ColorLink {
  color: #ac73a3;
}

.Out {
  color: #ac73a3;
  margin-top: 30rem;
}

.Out h1 {
  font-size: 4rem;
  text-align: center;
  display: block;
  margin: 0 auto;
  right: 0;
  left: 0;
}
/*# sourceMappingURL=estilos.css.map */