@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.PosPrincipal {
  margin-top: 8rem;
}

/* Formateamos los títulos de todas las paginas*/
.TituloPagina {
  color: #ac73a3;
  font-size: 5rem;
}

/* Formateamos la Foto de la Pagina Principal*/
.FotoPrincipal {
  width: 100%;
  height: 30rem;
  background-image: url(../media/paginaprincipal.jpg);
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6, p, a {
  text-rendering: optimizeLegibility;
  font-family: "Playfair Display", serif;
}

/* Formateamos el Contenido del "Sitio en Construccion" */
.SitioEnConstr {
  font-size: 4rem;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  word-spacing: 4rem;
  line-height: 5rem;
  padding: 2rem;
}

/* Formateamos el Copyright*/
.Copyright {
  color: #ac73a3;
  font-size: 2rem;
}

.Actividades {
  padding-bottom: 3rem;
}

/* Formateamos el Formulario de Contactate*/
.Datos {
  padding: 2rem 1rem 0 1rem;
  color: #ac73a3;
  font-size: 2rem;
}

.FormatoContacto {
  color: #ac73a3;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}

.DatosFinal {
  padding-left: 1rem;
  color: rgba(0, 0, 0, 0.55);
  font-weight: normal;
  font-size: 1.5rem;
}

.FormatoBoton {
  background-color: #ac73a3;
  color: white;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.4rem;
}

.Botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.RedesSociales {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.NuevoForm {
  padding: 1rem 1rem 3rem 1rem;
}

.input, textarea {
  font-size: 1.8rem;
  font-variant: small-caps;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: lowercase;
  color: #ac73a3;
}

/* Formateamos el Cuerpo de la Pagina Habitaciones*/
.Habitaciones {
  width: 90%;
  margin: 1rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.FotoHab {
  width: 100%;
}

.Habtext {
  background-color: whitesmoke;
  margin: 1rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.55);
  -webkit-transform: translateY(-3rem);
          transform: translateY(-3rem);
}

.Habtext a {
  color: #ac73a3;
}

.TipoDeHab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Playfair Display", serif;
  margin: 1rem;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.TipoDeHab:hover {
  -webkit-transform: scale(1.07, 1.07);
          transform: scale(1.07, 1.07);
}

.TipoDeHab:hover .Habtext {
  background-color: white;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.OtrosDestFormat {
  padding: 1rem 5rem;
}

.OtrosDestFormat2 {
  border: none;
}

.OtrosDestFormat2 button {
  color: #ac73a3;
  font-size: 2rem;
  font-weight: bold;
}

.OtrosDestFormat2 a {
  font-size: 1.85rem;
}

/* Formateamos las listas de todas las paginas */
a {
  font-size: 2rem;
  font-weight: bolder;
  text-decoration: none;
}

.AnchoNavBar {
  width: 50%;
}

.AltoNavbar {
  height: 8rem;
}
/*# sourceMappingURL=estilos.css.map */