@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.PosPrincipal {
  margin-top: 8rem;
  background-color: #fafaeb;
}

/* Formateamos los títulos de todas las paginas*/
.TituloPagina {
  color: #ac73a3;
  font-size: 4.5rem;
  text-align: center;
}

/* Formateamos el texto en General*/
h1, h2, h3, h4, h5, h6, p, a {
  text-rendering: optimizeLegibility;
  font-family: "Playfair Display", serif;
}

a {
  font-size: 2rem;
  font-weight: bolder;
}

.PiedePagina {
  background-color: #fafaeb;
}

@-webkit-keyframes inicio {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes inicio {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Formateamos el Texto de la Pagina Principal*/
.Textomain {
  color: #ac73a3;
}

.Textomain h1 {
  font-size: 4.5rem;
  text-align: center;
  display: block;
  margin: 0 auto;
  right: 0;
  left: 0;
  -webkit-animation-name: inicio;
          animation-name: inicio;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

.Textomain h3 {
  font-size: 2rem;
  text-align: center;
  width: 85%;
  display: block;
  margin: 0 auto;
  padding-top: 1.8rem;
  right: 0;
  left: 0;
  text-transform: uppercase;
  -webkit-animation-name: inicio;
          animation-name: inicio;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

@media (min-width: 992px) {
  .Textomain h3 {
    font-size: 4rem;
    position: relative;
    top: -30rem;
    color: white;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
}

/* Formateamos la Foto de la Pagina Principal*/
.FotoPrincipal {
  width: 100%;
  height: 20rem;
  background-image: url(../media/paginaprincipal.jpg);
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation-name: inicio;
          animation-name: inicio;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

@media (min-width: 576px) {
  .FotoPrincipal {
    height: 35rem;
  }
}

@media (min-width: 768px) {
  .FotoPrincipal {
    height: 40rem;
  }
}

@media (min-width: 992px) {
  .FotoPrincipal {
    height: 50rem;
  }
}

@media (min-width: 1200px) {
  .FotoPrincipal {
    height: 53rem;
  }
}

.Actividades {
  margin: auto;
  padding-bottom: 3rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fafaeb;
}

@media (min-width: 856px) {
  .Actividades {
    width: 90%;
  }
}

@media (min-width: 992px) {
  .Actividades {
    width: 85%;
  }
}

@media (min-width: 1200px) {
  .Actividades {
    width: 65%;
  }
}

.ActividadTexto {
  width: 75%;
  color: #ac73a3;
}

.ActividadTexto h2 {
  font-size: 2.8rem;
  font-style: italic;
}

.ActividadTexto h3 {
  font-size: 2rem;
}

.ActividadTexto p {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.ActivDetal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafaeb;
}

.Fotogolf {
  width: 100%;
  height: 30rem;
  background-image: url(../media/golf.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.FotoSpa {
  width: 100%;
  height: 20rem;
  background-image: url(../media/spa3.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 992px) {
  .FotoSpa {
    height: 30rem;
  }
}

.FotoSupAct {
  width: 100%;
  height: 20rem;
  background-image: url(../media/panoramica2.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 576px) {
  .FotoSupAct {
    height: 23rem;
  }
}

@media (min-width: 768px) {
  .FotoSupAct {
    height: 26rem;
  }
}

@media (min-width: 992px) {
  .FotoSupAct {
    height: 30rem;
  }
}

@media (min-width: 1200px) {
  .FotoSupAct {
    height: 32rem;
  }
}

.Depo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.CardAct {
  width: 110%;
}

/* Formateamos el Formulario de Contactate*/
.Solucion {
  margin-right: 0;
}

.DatosTitulos {
  padding: 2rem 1rem 0 1rem;
  color: #ac73a3;
  font-size: 3rem;
  font-style: italic;
}

.Datos {
  padding: 2rem 1rem 0 1rem;
  color: #ac73a3;
  font-size: 2rem;
}

.FormatoContacto {
  color: #ac73a3;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}

.DatosFinal {
  padding-left: 1rem;
  color: #242222;
  font-weight: normal;
  font-size: 1.5rem;
}

.Mapa {
  margin: 0.1rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  justify-self: self-start;
  width: 60%;
}

.FormatoBoton {
  background-color: #ac73a3;
  color: #fafaeb;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.4rem;
}

.Botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.RedesSociales {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.NuevoForm {
  margin: 1rem;
}

.input, textarea {
  font-size: 1.8rem;
  font-variant: small-caps;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: lowercase;
  color: #ac73a3;
}

.Separa {
  margin-bottom: 6rem;
}

.contenedorPpal {
  margin: 8rem 2rem auto 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.underlay {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  /* Pongo valor de z-index en 1021 para que el underlay se muestre por encima del */
  /* menu de navegacion que de manera predeterminada tiene z-index 1020            */
  -webkit-animation-name: animOverlay;
          animation-name: animOverlay;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

@-webkit-keyframes animOverlay {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animOverlay {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.articulos {
  background-color: #fafaeb;
  color: #ac73a3;
  padding: 1rem;
  width: 40rem;
  height: 45rem;
}

.articulos h2 {
  font-weight: bold;
}

.articulos p {
  font-size: 1.35rem;
  font-weight: bold;
}

.articulos i {
  /* boton que cierra el contenedor de articulos */
  font-size: 3rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  float: right;
}

.articulos i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

/* Formateamos el Cuerpo de la Pagina Habitaciones*/
.Habitaciones {
  width: 90%;
  margin: 1rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.FotoHab {
  width: 100%;
}

.Habtext {
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #242222;
  -webkit-transform: translateY(-3rem);
          transform: translateY(-3rem);
}

.Habtext a {
  color: #ac73a3;
}

.TipoDeHab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Playfair Display", serif;
  margin: 1rem;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.TipoDeHab:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.TipoDeHab:hover .Habtext {
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.OtrosDestFormat {
  margin: auto;
  padding: 1rem 5rem 4rem 5rem;
}

@media (min-width: 768px) {
  .OtrosDestFormat {
    width: 90%;
  }
}

@media (min-width: 992px) {
  .OtrosDestFormat {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .OtrosDestFormat {
    width: 70%;
  }
}

.OtrosDestFormat2 {
  border: none;
}

.OtrosDestFormat2 button {
  color: #ac73a3;
  font-size: 2rem;
  font-weight: bold;
}

.OtrosDestFormat2 a {
  font-size: 1.85rem;
}

/* Formateamos las listas de todas las paginas */
.AnchoNavBar {
  width: 50%;
}

.AltoNavbar {
  height: 8rem;
}

.AltoNavbar li:hover .Submenu {
  display: block;
}

.ColorLink {
  color: #ac73a3;
}

.Submenu {
  position: absolute;
  display: none;
}

.Submenu li {
  display: block;
  background-color: #242222;
}

.Out {
  color: #ac73a3;
  margin-top: 15rem;
}

.Out h1 {
  font-size: 4rem;
  text-align: center;
  display: block;
  margin: 0 auto;
  right: 0;
  left: 0;
}
/*# sourceMappingURL=estilos.css.map */